<!DOCTYPE html>
<html lang="en">
<!-- ============================================================================================-->
<!-- Using the minimal css framework: http://github.com/oxalorg/sakura -->
<!-- JOIN THE DARK SIDE -->
<!-- ============================================================================================-->
<head>
    <!-- Config -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Information -->
    <title>{% block title %}{{ site_name }}{% endblock %}</title>

    <!-- Assets -->
    <link href="https://fonts.googleapis.com/css?family=Lustria|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ site_baseurl }}/static/css/normalize.css">
    <link rel="stylesheet" href="{{ site_baseurl }}/static/css/sakura.css" async>
    <link rel="stylesheet" href="{{ site_baseurl }}/static/css/main.css" async>
</head>
<body>
<header>
    <nav>
        <a class="sakura-blossom no-border" href="/">oxalorg</a>
        [<a class="sakura-fade no-border" href="/about">about</a>,
        <a class="sakura-fade no-border" href="/projects"> projects</a>]
    </nav>
</header>
<main>
    {%- block body -%}{{ content }}{%- endblock -%}
</main>
{% include "analytics.html" %}
</body>
</html>
